@layout Layouts.AdminLayout
@page "/admin"

@inject IVersionProvider VersionProvider
<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Home</Heading>

<div style="height:70vh; display:flex;flex-direction:column" >
    <img src="/brand-logo.png" style="width:20%" />

    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
        SELAMAT DATANG  
    </Heading>
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
       APLIKASI VERIFIKASI DAN VALIDASI AWAL PERMOHONAN REGISTRASI SBU
    </Heading>
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
        GAPEKSINDO PAPUA
    </Heading>
</div>